<!DOCTYPE html>
<html lang="en">

  <head>
    <%= stylesheet_pack_tag 'mosaic' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="font-inter antialiased bg-slate-100 text-slate-600">
    <main class="bg-white">
      <%= yield %>
    </main>
  </body>
</html>
